@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightBlack: #0F0F0F;
}

body {
  background-color: #0F0F0F;
  color: white;
}

@layer utilities {
  .container {
    @apply w-full max-w-[1360px] mx-auto px-5
  }

  h1 {
    @apply text-[48px] md:text-[56px] lg:text-[75px] leading-[130%];
  }

  h2 {
    @apply text-[48px] md:text-[56px] lg:text-[75px] leading-[130%];
  }

  h3 {
    @apply text-[44px] md:text-[52px] lg:text-[64px] leading-[140%];
  }

  h4 {
    @apply text-[28px] md:text-[36px] lg:text-[45px] leading-[130%];
  }

  h5 {
    @apply text-[18px] md:text-[20px] lg:text-[24px] leading-[130%];
  }

  .PrimarySubtitle {
    @apply text-[20px] md:text-[22px] lg:text-[24px] leading-[175.797%];
  }

  .SecondarySubtitle {
    @apply text-[22px] font-medium leading-[127.273%];
  }

  .PrimaryDescription {
    @apply text-[16px] md:text-[20px] leading-[34px];
  }

  .SecondaryDescription {
    @apply text-[14px] md:text-[16px] leading-normal;
  }

  .caption {
    @apply text-[14px] font-light leading-[24px];
  }

  .basic-transition {
    @apply transition ease-in-out duration-300;
  }
}

.animate-spin-slow {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}